// Partial for the Nav Bar

.horizontal-gray{
  list-style-type: none;
  margin: 0;
  //border: 1px solid black;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

li a:hover {
  background-color: #ff7e00;//#ff7e00
  color: black;
}