// Import partials
@import 'index';
@import 'navbar';

// Global styling

body {
  margin: 0;
}

.main-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}
