.container {
  max-width: 800px;
}

/**
 * Navigation bar
 */

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-link {
  float: right;
}

.navbar-title {
  float: left;
}

.navbar {
  margin-bottom: 3rem;
}
