@import 'index';

$green: #16eb12;
$red: #FF4500;
$dark-grey: #222;
$active-blue: #33C3F0;

.container {
  max-width: 800px;
}

/**
 * Page Title
 */

.page-title {
  /* Larger than tablet */
  @media (min-width: 750px) {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  /* Smaller than tablet */
  @media (max-width: 749px) {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

/**
 * Navigation Bar
 */

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  margin-bottom: 0;
}

.navbar-link,
.navbar-title {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .1rem;
  text-decoration: none;
  line-height: 8rem;
  color: $dark-grey;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .navbar-link {
    float: right;
    margin-left: 35px;
  }

  .navbar-title {
    float: left;
  }
}

/* Smaller than tablet */
@media (max-width: 749px) {
  .navbar-link, .navbar-title {
    float: left;
    margin-left: 10px;
  }

  .navbar-title {
    display: none;
  }
}

/**
 * Banners
 */

.banner {
  padding: 6px 10px;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.banner-success {
  background-color: $green;
}

.banner-warning {
  background-color: $red;
}

.banner-hidden {
  display: none;
}
